<!-- The Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/') 
} %>

<!-- Flash message -->
<%- messages() %>

<!-- Error messages -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Links to account actions -->
<h2>Welcome <%- account_firstname %></h2>
  <p class="management-panel">
    <a href="/account/update/">Update Account Information</a>
  </p>

<!-- Links to management view -->
<% if(account_type === "Admin" || account_type === "Employee") { %>
  <h3>Inventory Management</h3>
    <p class="management-panel">
      <a href="/inv">Access Inventory Management</a>
    </p>
<% } %>