<!-- The Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/') 
} %>

<!-- Flash message -->
<%- messages() %>

<!-- Error messages -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Login form -->
<div class="form-container" >
  <form action="/account/login" method="POST" class="account-form">
    <label>Email:
    <input
      type="email"
      name="account_email"
      required
      value="<%= locals.account_email %>"
    >
    </label>

    <label>Password:
      <span class="notice">Must be at least 12 characters long, and must include 1 capital letter, 1 number, and 1 special character.</span> 
    <input
      id="pword"
      type="password"
      name="account_password"
      required
      pattern="(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*]).{12,}"
      title="At least 12 characters long, and must include 1 capital letter, 1 number, and 1 special character."
    >
    <span id="pswdBtn">Show</span>
    </label>

    <input type="submit" value="LOGIN">
    </form>

    <p class="text-center">
        No account? <a href="/account/register">Sign-up</a>.
    </p>
</div>

<script src="/js/script.js"></script>