<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/site/favicon-32x32.png">
    <meta property="og:title" content="<%- title %> | CSE 340 App">
    <meta property="og:type" content="website">
    <title><%- title %> | CSE 340 App</title>
    <meta name="author" content="Julio Cesar Reyes Coronel">
    <meta 
        name="description" 
        content="Home page for the website app of the CSE 340 course.">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css" media="screen">
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <link rel="stylesheet" href="/css/large.css" media="screen">
</head>
