/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --primary-color: cornflowerblue;
  --secondary-color: rgb(26, 26, 49);
  --accent-color: rgb(0, 140, 255);

  /* Fonts */
  --heading-font: Montserrat, Helvetica, sans-serif;
  --paragraph-font: "DM Sans", Helvetica, sans-serif;
}

header,
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}

footer p {
  margin-top: 50px;
  margin-bottom: 0px;
}

/* Class Selectors */
.siteName a {
  font-size: 35px;
}

.navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.navigation li {
  flex: 1 1 100%;
}

.navigation a {
  display: block;
  font-family: var(--heading-font);
  text-decoration: none;
  text-align: center;
  padding: 20px 0px;
  background: var(--secondary-color);
  color: white;
}

.navigation a:hover,
.linkbox:hover {
  text-decoration: underline;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 3fr 6fr 1fr;
}

.hero picture {
  grid-column: 2/4;
  grid-row: 1/2;
  z-index: 1;
}

.hero img {
  width: 100%;
  height: fit-content;
}

.herolabel {
  grid-column: 1/3;
  grid-row: 1/2;
  background: rgba(255, 255, 255, 0.8);
  justify-self: center;
  align-self: center;
  padding: 5px;
  color: var(--accent-color);
  font-size: 0.75rem;
  z-index: 2;
}

.herolabel h2, .herolabel p {
  margin: 0px;
}

.linkbox {
  color: rgb(26, 26, 49);
  background: var(--primary-color);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.img-container {
  width: 100%;
  border: solid 2px rgb(44, 44, 44);
  background: var(--primary-color);
  padding: 10px;
  height: 100px;
}

.img-container img {
  display: block;
  margin: auto;
}

/* ID Selectors */
#wrapper {
  font-family: var(--paragraph-font);
  padding: 10px 10px 5px;
  max-width: 800px;
  margin: 10px auto;
  border-radius: 10px;
  background: white;
}

#top-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#top-header a {
  text-decoration: none;
  color: black;
}

#reviews li {
  margin-bottom: 20px;
}

#upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  text-align: center;
}

/* Classification page */
#inv-display {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 0px 20px;
  list-style: none;
  text-align: center;
}

#inv-display li {
  border: solid rgb(173, 173, 173) 2px;
  background-color: rgb(241, 253, 255);
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 10px;
  transition: 0.2s;
  box-shadow: 5px 5px 10px #6f7364;
}
    
#inv-display img, #detail-container img, #error-img {
  display: block;
  width: 100%;
  height: fit-content;
}

#inv-display hr {
  margin: 0;
}

/* Details page */
#detail-container img {
  border-bottom: solid var(--primary-color) 3px;
  border-radius: 5px;
}

.first-word {
  font-weight: bold;
}

.info-table {
  border: solid grey 1px;
  border-radius: 5px;
}

td {
  padding: 20px;
}

.info-table tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

/* Error page */
#error-img {
  margin-top: 20px;
}

/* Login Page */
.form-container {
  margin: 0px auto;
  padding: 10px 50px;
  border: solid 4px var(--primary-color);
  border-radius: 10px;
}

#account-form label {
  display: block;
  padding-top: 1rem;
  color: var(--secondary-color);
}

#account-form input[type="email"],
#account-form input[type="password"],
#account-form input[type="text"]
{   
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
}

#account-form input[type="submit"] {
  display: block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  padding: .8rem;
  margin: 20px auto;
  cursor: pointer;
}

#account-form input:required:valid {
  border-right: solid 8px green;
}

#account-form input:required:invalid {
  border-right: solid 8px red;
}

#pswdBtn {
  display: block;
  margin: 10px 0px 0px auto; 
  width: fit-content;
  padding: .5em;
  font-size: small;
  font-weight: bold;
  background: var(--primary-color);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

/* Utilities */
.notice {
  color: red;
  font-style: italic;
}

.text-center {
  text-align: center;
}